.cinema-nav {
    padding: 4px 0;
    padding-left: 10px;
    padding-right: 30px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.wrapper-div {
	width:67px;
	margin-left:20px
}