.nav-wrapper{
    display: block;
    height: 88px;
    background: #e6e6e6;
    z-index: 1;
}
.top-nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 88px;
    border-bottom:1px solid #e6e6e6 ;
    /* position: relative; */
    position: sticky;
    top: 0;
}
.city-entry{
    line-height: 88px;
    font-size: 30px;
   margin-left: 40px;
}
.city-entry-arrow {
    width: 0;
    height: 0;
    border: 8px solid #b0b0b0;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    display: inline-block;
    margin-left: 8px;
    margin-top: 10px;
}
.swith-hot{
    font-size:30px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin:60px;
    margin-top:0;
    margin-bottom:0;
    border-bottom: 4px solid #e6e6e6;
}
.swith-hot .li{
    padding:25px ;
    color: #666
}
.search-entry{
    width: 44px;
    height: 44px;
    background: url('../../movie-type/getLarger.png') no-repeat;
    background-size: 44px 44px;
    margin: 22px 22px 22px 22px;
}
.activeRed{
    color:#ef4238!important;
    border-bottom: 4px solid #ef4238;

}