.searchCinema{
		background:#fff;
}
.searchNav{
	display:flex;

}

	
.searchNav_active{
	border-bottom:1px solid #000;
}
.searchNav div{
	flex:1;
	text-align:center;
	line-height:80px;
	font-size:26px;
	postion:relative;
}
.drop{
	display: inline-block;
	position: absolute;
	border: 8px solid transparent;
	margin-left: 8px;
	height: 0;
	width:0;
	top:200px;
	z-index:1000;
	border-top-color:#ccc;
}
.drop_active{
	border-bottom-color:1px solid #ccc;
	color:#f03d37;
}
.second_Nav{
	display:flex;
	font-size:30px;
	
}
.second_Nav div{
	flex:1;
	text-align:center;
	line-height:88px;
	padding:0 20px;
}
.second_Nav_active{
	color:#f03d37;
	border-bottom:1px solid #f03d37;
}

.third_list{
	height:110px;
	line-height:100px;
	font-size:28px;
	padding-left:20px;
	white-space: nowrap;
}
.third_list_active{
	color:#f03d37;
	background:rgb(245,245,245);
}
.brand_list{
	font-size:30px;
	color:#333;
	line-height:100px;
	padding:0 20px;
	border-bottom:1px solid rgb(245,245,245);
}
.serive_list{
	float:left;
	line-height:60px;
	height:65px;
	width:200px;
	text-align:center;
	margin:10px;
	border:1px solid #ccc;
	border-radius:10px
}

