
*{box-sizing:border-box;}

.App-logo {
  height: 40vmin;
}
#root,.App{height:100%}
.App-div{display: flex;height:100%;flex-direction:column;}
.connect{display: flex;flex-direction:column;flex:1;overflow: auto;}
.page-wrap{ flex:1;background:#f6f6f6;overflow: auto;}
.header-nav{
  height:101px;
  color: #fff;
  background: #e54847;
  border-bottom: 2px solid #e54847;
  position: relative;
  justify-content: center;
  display:flex;
}
.nav_header h1{
  font-size: 36px;
  font-weight: 400;
  line-height: 100px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color:#fff;
}
.bottom-nav-bar{
  height:96px;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-around;
  padding-bottom: env(safe-area-inset-bottom);
}
.nav-icon-wrapper{
    float: left;
    width: 50px;
    height:96px;
    line-height: 96px;
    box-sizing: border-box;
    color: #696969;
    position: relative;
    text-align: center;
    flex: 1;
}
.nav-icons{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    margin:6px auto 0;
}
.nav-text{
  line-height: 24px;
  position: absolute;
  top:60px;
  left: 0;
  right: 0;
  font-size:20px;
}
.nav-icons .iconfont{
  font-size:50px;
}



.App-link {
  color: #09d3ac;
}

.App-active{
	color:#f03d37
}
